.task__list-item--edit {
  padding-left: 42px;
  border-left: 5px solid var(--babyGrey);
  box-shadow: var(--shadowBox);
}

.task__list-item-form {
  width: 100%;
  display: flex;
  align-items: center;
}

.task__list-item-form-actions {
  margin-left: auto;
}

.task__list-item-input {
  height: 35px;
  margin-right: 25px;
  padding: 0 20px;
  border: 2px solid var(--babyGrey);
}
