.task-list__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

.task-list__header-title {
  font-size: var(--fontSizeMedium);
  font-weight: 600;
}

.task-list__list {
  width: 100%;
  height: 100%;
}

.task-list__header-filter i {
  font-size: var(--fontSizeNormal);
  margin-right: 10px;
}

.task-list__button {
  padding: 10px 20px;
  background-color: var(--babyBlue);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color ease-in 0.2s;
}

.task-list__header-filter-action:hover {
  background-color: var(--babyBlueDark);
}

.task__list-create {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 65px;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 10px;
  cursor: pointer;
  border: dashed 2px var(--babyGrey);
}

.task__list-create i {
  margin-right: 15px;
}
